@{
    ViewBag.Title = "Home Page";
}

<div id="profile-container">
    <div id="cover-photo">
        <h1>Integrative Programming</h1>
    </div>

    <div id="user-info">
        <h1>Aaron Bitoy</h1>
        <h2>Gym, Coffee, Code, Sleep</h2>
    </div>
    <div id="bio">
        <p>
            Gym buff pumping iron, coffee addict brewing dreams, code ninja typing magic, and
            sleep champion catching Z's like a pro. Living life in reps, sips, code snippets,
            and sweet dreams. 💪☕💻😴 #GymCodeCoffeeSleep
        </p>
    </div>
</div>